/* Template: */
  /* colors */

  /* sizing */

  /* alignment */

  /* text */

/* normalize */
* {
  margin: 0;
  padding: 0;

  font-family: 'Courier New', Courier, monospace;
}

/* tag styles */ 
body {
  /* colors */
  background-color: whitesmoke;

  /* sizing */

  /* alignment */

  /* text */
  color: black;
}

nav {
  /* colors */
  background-color: #552583;
  ;

  /* sizing */
  height: 10vh;
  width: 100%;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3em;

  /* text */
  text-align: center;
}

main {
  /* colors */

  /* sizing */
  width: 100%;
  min-height: 80vh;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
}

footer {
  /* colors */
  background-color: #552583;
  color: #FDB927;

  /* sizing */
  height: 10vh;
  width: 100%;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3em;

  /* text */
  text-align: right;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

/* custom classes */
#siteTitle {
  /* colors */
  color: #FDB927;

  /* sizing */

  /* alignment */

  /* text */
  text-decoration: none;
  text-align: center;
  font-weight: 900;
}

.gameMenu {
  /* colors */
  background-color: #552583;
  border-radius: 10%;

  box-shadow: 0px 0px 30px #FDB927;

  /* sizing */
  /* width: 90%; */
  padding: 2%;
  
  /* alignment */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;

  /* text */
  text-align: center;
}

.gameMenu a:first-child {
  border-radius: 10% 0 0 0;
}

.gameMenu a:nth-child(2) {
  border-radius: 0 10% 0 0;
}

.gameMenu a:nth-child(3) {
  border-radius: 0 0 0 10%;
}

.gameMenu a:nth-child(4) {
  border-radius: 0 0 10% 0;
}




.gameMenu > a {
  text-decoration: none;
  color: black;
}

.gameMenu > a:hover {
  text-decoration: none;
  color: black;
}

.gameOption {
  /* colors */
  background-color: #FDB927;

  /* sizing */
  padding: 20px;

  /* alignment */
  position: relative;

  /* text */

  /* animation */
  transition: 5ms;
}

.gameOption:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.gameImage {
  /* colors */
  border: 3px solid white;

  /* sizing */
  width: 10em;
  aspect-ratio: 1;

  /* alignment */
  margin-bottom: 1em;

  /* text */
}

#copyrightTag {
  /* colors */

  /* sizing */
  width: 100%;
  margin: 0em 3em;

  /* alignment */

  /* text */
}

/* media queries */
@media (max-width: 420px) {
  .gameMenu {
    grid-template-columns: repeat(1, 1fr);
  }
}
