/* Template: */
  /* colors */

  /* sizing */

  /* alignment */

  /* text */

/* normalize */
* {
  margin: 0;
  padding: 0;

  font-family: 'Courier New', Courier, monospace;
}

/* tag styles */ 
body {
  /* colors */
  background-color: whitesmoke;

  /* sizing */

  /* alignment */

  /* text */
  color: black;
}

nav {
  /* colors */
  background-color: #552583;
  ;

  /* sizing */
  height: 10vh;
  width: 100%;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 3em;

  /* text */
  text-align: center;
}

main {
  /* colors */

  /* sizing */
  width: 100%;
  min-height: 80vh;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
}

footer {
  /* colors */
  background-color: #552583;
  color: #FDB927;

  /* sizing */
  height: 10vh;
  width: 100%;

  /* alignment */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3em;

  /* text */
  text-align: right;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color: inherit;
}

/* custom classes */
#siteTitle {
  /* colors */
  color: #FDB927;

  /* sizing */

  /* alignment */

  /* text */
  text-decoration: none;
  text-align: center;
  font-weight: 900;
}

#copyrightTag {
  /* colors */

  /* sizing */
  width: 100%;
  margin: 0em 3em;

  /* alignment */

  /* text */
}

/* media queries */
@media (max-width: 420px) {
  .gameMenu {
    grid-template-columns: repeat(1, 1fr);
  }
}
